@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(244,252,255);

}

.container{
    margin: 0 auto;
    margin-top : 5rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    opacity: .96;
    background-color: #1F2E32;
    background-image: linear-gradient(rgb(0,23,41) , rgb(0,64,56));
    color: wheat;
    text-transform: uppercase;
    border-radius: 9px;
    box-shadow: 0 0 3px #1F2E32;
}
.row{
    margin-top: 2rem;
}

.top img{
    height: 120px;
    margin: 2rem 0;
}

.btn{
    text-transform: uppercase;
    padding: .6rem 3rem ;
    font-size: 1rem;
    text-shadow: .1rem .1rem .8rem white;
}

.register{
    font-size: 2.5rem;
    margin-left: 2rem;
    text-shadow: .1rem .1rem .8rem white;
}
.vali i{
    visibility: hidden;
    font-size: 1.5rem;
    position: absolute;
    top: .5rem;
    right: 1.5rem;
}
.error i.fa-exclamation-circle{
    visibility: visible;
    color: #AA0B0D;
}

.success i.fa-check-circle{
    visibility: visible;
    color: #77D826;
}

.error input.form-control {
    border: 2px solid #AA0B0D;
    box-shadow: 0 0 3px #AA0B0D;
}

.success input.form-control {
    border: 2px solid #77D826;
    box-shadow: 0 0 3px #77D826;
}


.vali small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    top: 2.5rem;
}

.Label{
    margin: 6px 0 0;
    padding-bottom: 1rem;
}
.btn-outline-success
{
    border-radius: 3rem;
}