body {
    background-color: #dff9fb;
    font-family: 'Roboto', 'Lato', serif;
    color: #212529;
}

.border-details {
   margin-top: 25px;
   border-bottom: 2px dashed grey;
}

.product-container {
    display: flex;
    column-gap: 50px;
    align-content: center;
}

.product-image {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width: 28%;
    left: 1%;
    height: 100vh;
}

.product-description {
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(0,-50%);
    width: 40%;
    display: flex;
    flex-direction: column;
}

.related-products {
    height: 100vh;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width: 30%;
    left: 70%;
}

.product-page-image {
    width: 90%;
    position: absolute;
    object-fit: contain;
    left: 1%;
    right: 1%;
    max-height: 600px;
    top: 50%;
    transform: translate(0,-50%);
}

.product-details h1 {
    font-size: 48px;
    margin-top: 80px;
    text-align: left;
}

.product-details h3 {
    margin-top: 40px;
    font-size: 32px;
}

.product-details h4 {
    font-size: 18px;
    margin-top: 40px;
}

.product-actions {
    margin-top: 100px;
    width: 180px;
    height: 50px;
    border-radius: 5px;
    background-color: #1D376C;
    justify-content: left;
}

.product-actions a {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 15px 0 0 0;
}

.related-products-items {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.related-title {
    font-size: 24px;
    color: #1E272E;
    font-family: Roboto, serif;
    text-align: center;
    margin-top: 25px;
}

.home {
    width: 80px;
    height: 40px;
    background-color: #95a5a6;
    margin: 20px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}

.home a {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    height: 100%;
    text-decoration: none;
    font-size: 20px;
    color: #2c3e50;
    margin: 10px 0 0 15px;
}

